AV01.1 DTD + XML/c - joc 2/joc2.dtd

<!ELEMENT joc (titol, companyia, plataforma, anyLlançament, personatges, nivells)>
    <!ELEMENT titol (#PCDATA)>
    <!ELEMENT companyia (#PCDATA)>
    <!ELEMENT plataforma (#PCDATA)>
    <!ELEMENT anyLlançament (#PCDATA)>
    <!ELEMENT personatges (personatge+)>
        <!ELEMENT personatge (nomp)>
            <!ELEMENT nomp (#PCDATA)>
            <!ATTLIST personatge tipus CDATA #REQUIRED>
    <!ELEMENT nivells (nivell+)>
        <!ELEMENT nivell (nomn)>
            <!ELEMENT nomn (#PCDATA)>
            <!ATTLIST nivell dificultat (baixa | mitjana | alta) #REQUIRED>