AV01.1 DTD + XML/d - joc 3/joc3.dtd

<!ELEMENT joc (titol, companyia, plataforma, anyLlançament, modesJoc, personatges, regions)>
    <!ELEMENT titol (#PCDATA)>
    <!ELEMENT companyia (#PCDATA)>
    <!ELEMENT plataforma (#PCDATA)>
    <!ELEMENT anyLlançament (#PCDATA)>
    <!ELEMENT modesJoc (mode+)>
        <!ELEMENT mode (#PCDATA)>
            <!ATTLIST mode principal (si | no) #REQUIRED>
    <!ELEMENT personatges (personatge+)>
        <!ELEMENT personatge (nomp)>
            <!ELEMENT nomp (#PCDATA)>
            <!ATTLIST personatge tipus CDATA #REQUIRED>
            <!ATTLIST personatge jugable (si | no) #REQUIRED>
    <!ELEMENT regions (regio+)>
        <!ELEMENT regio (nomr, nota?)>
            <!ELEMENT nomr (#PCDATA)>
            <!ELEMENT nota (#PCDATA)>
            <!ATTLIST regio clima CDATA #REQUIRED>